body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(232, 41, 15, 1) 0.1%, rgba(14, 14, 13, 1) 90.1%);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    /*background-color: blue; */
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}


/*Start Main - Sobre a Barbearia*/

main {
    margin: 0 auto;
}

.mapa {
    margin: 0 auto;
    text-align: center;
    padding: 5% 10% 20px 10%;
    background: linear-gradient(white, black);
}

.mapa p {
    margin: 0 0 20px 0;
}

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    margin: 0 auto;
    padding: 5% 25%;
    background-color: white;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}


/*Benefícios e imagem*/

.beneficios {
    padding: 5% 10% 5% 10%;
    background-color: black;
    color: whitesmoke;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens::before {
    content: "\27A5";
}

.imagem-beneficios {
    width: 60%;
}


/*Start Footer*/

footer {
    text-align: center;
    color: whitesmoke;
    background: url(bg.jpg);
    /* usar uma imagem de fundo dos elementos e conteúdos*/
    padding: 40px 0;
}

.copyright {
    color: whitesmoke;
    font-size: 15px;
    margin: 20px 0 0;
}

@media screen and (max-width: 480px) {
    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista-beneficios,
    .imagem-beneficios,
    l {
        width: 100%;
    }
}